Package: wpkg-cli
Version: [[version]]
Section: Internet
Priority: optional
Architecture: all
Homepage: https://wpkg.me
Depends: openjdk-17-jre
Maintainer: WPKG Team <contact@wpkg.me>
Description: [[description]]
